:root{
    --color-purple: #5A4FA1;
    --color-purple-light: #9851C5;
    --color-pink: #fd748e;
    --color-pink-light: #E8979A;

    --color-pink-dark: #9B5898;
    --color-gray: #D9DBE5;
    --color-blue: #8DB9DF;

    --color-white: #fff;
    --color-black: #000;
}

/*Global Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /*use % to not overide browser default size i.e make it dynamic*/
    /* 10/16 x 100 = 62.5,
    this will make sure our global font-size is 10px.
     Note 16 is the default font size most browsers use
     this teqnique also allows the user change the font size 0.625 *100 = 62.5%
     */
    font-size: 62.5%;
}

body{
    text-rendering: optimizeLegibility;
    font-family: century gothic;
    font-weight: 300;

    color: var( --color-gray);

    background-repeat: no-repeat;
    
}

.hero-section{
    position: relative;
    padding: 5rem 10rem;;
    max-width: 150rem;
    background-position: top;
    background-size: cover;
    background-image: url(.//img/Asset\ 2ldpiii.png);
    height: 100vh;
} 

.hero-section:before, .hero-section:after
{
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 2.5rem;
    left: 1rem;
    width: 50%;
    top: 80%;
    background: #777;
    box-shadow: 0 3.5rem 2rem #777;
    transform: rotate(-8deg);
}
.hero-section:after
{
    transform: rotate(8deg);
    right: 2rem;
    left: auto;
}

 .logo img{
    width: 90px;
    margin-bottom: -28px;
    
}
nav .nav-list{
    font-size: 1.5rem;
    display: inline-block;
    list-style: none;
    margin-left: 70px;
    
}
nav .nav-list .nav-item{
    padding-left: 6rem;
    display: inline-block;
}

nav .nav-list .nav-item .nav-item-link {
    text-decoration: none;
    color: inherit;
}

nav .nav-list .nav-item .active{
   color: var(--color-white);
    font-weight: 400;
}

/*//////////HERO SECTION//////////*/

.hero-wrapper{
    display: flex;
    flex: 1 1 50%;
}
.hero-wrapper .hero-wrapper__left{
    flex: 1 1 50%;
}
.hero-wrapper .hero-wrapper__right{
    flex: 1 1 50%;
}

.hero-text{
    font-size: 3rem;
    color: var(--color-white);
    padding: 8rem 0 4rem 0;
    font-weight: 400;
}

.hero-text__btm{
    display: block;
}

.hero-text-para-box{
    width: 35rem;
}

.hero-text-para{
    font-size: 1.4rem;
}

.hero-action{
    padding-top: 4rem;
}

.hero-btn{
    font-size: 1.6rem;
    padding: 1.5rem 2rem;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    color: #525252;
    background-color: var(--color-white);
    transition: all .2s;
    box-shadow: 0 .3rem 3rem -2rem var(--color-black);
}

.hero-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(var(--color-black), .2);
}
.hero-btn::after {
    background-color: var(--color-white);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.hero-btn:active,
.hero-btn:focus {
     outline: none;
     transform: translateY(-1px);
     box-shadow: 0 .5rem 1rem rgba(var(--color-black),.2);
 }


/*///////////ICONS///////*/


.icon-wrapper{
    padding-left: 6rem;
}
.icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    fill: var(--color-gray);
}

.socials{
    display: flex;
    padding-top: 3rem;
}
.socials a{
    display: flex;
    padding: 1rem;
    margin-right: 2rem;
    border: 1px solid var(--color-gray);
    border-radius: 100rem;
    transition: all .2s;
}
.socials a:hover{
    border-color: #68b2f6;
    background-color:#68b2f6;
    box-shadow: 0 1.3rem 3rem -1.2rem var(--color-black);
}
.socials a:hover .icon{
    fill: var(--color-white);
}

/*//////////CARDS////////*/
.cards{
    position: relative;
}
.card-bg{
    box-shadow: 0 1px 25px 0 #777;
    padding: 5rem 2rem;
    margin-top: 3rem;
    border-radius: 1rem;
    height: 37rem;
    width: 25rem;
    background-color: var(--color-white);
}
.card-sm{
    box-shadow: 0 1px 25px 0px #777;
    position: absolute;
    top: 7.5rem;
    left: 20rem;
    padding: 5rem 2rem;
    margin-top: 1rem;
    border-radius: 1rem;
    height: 25rem;
    width: 25rem;
    background-color: var(--color-white);
}

.skeleton-loader{
    display: flex;
    margin-bottom: 3rem;
}

.skeleton-line-wrapper{
    padding-left: 1rem;
    width: 100%;
}
.skeleton-img {
    display: block;
    border-radius: 3px;
    height: 4.5rem;
    width: 5.5rem;
    background-position: top;
    background-size: cover;
}
.img-pink{
    background-image: linear-gradient(to right, #ff5a83, #ffaea3);
}

.img-blue{
    background-image: linear-gradient(to right, #68b2f6, #54dce4);
}
.img-purple{
    background-image: linear-gradient(to right, #cb6bc2, #ee85b6);
}

.skeleton-line{
    border-radius: 3px;
    margin-bottom: 1rem;
    display: block;
    background-color: #e1e8ee;
    width: 100%;
    height: .7rem;
}
.skeleton-line-sh{
    width: calc(100% - 2rem)
 }

.copy-right{
    margin-top: 2rem;
    font-size: 1.4rem;
}

/*MEDIA */

@media only screen and (max-width: 1200px) {
    .hero-section{
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

@media only screen and (max-width: 1100px) {
    html{
        font-size: 50%;
    }
}
@media only screen and (max-width: 768px) {
    .card-sm{
        left: 10rem;
    }
    .hero-wrapper .hero-wrapper__right {
        margin-left: 5rem;
    }
    .hero-section{
        padding: 3rem 5rem;

    }
}

@media only screen and (max-width: 650px) {
    .card-sm{
        left: 5em;
    }
    .hero-section{
        padding: 2rem 3rem;

    }
}

@media only screen and (max-width: 560px) {
    .hero-section{
        height: 100rem;
    }
 .hero-wrapper{
     text-align: center;
     flex-direction: column;
 }
    .hero-text-para-box{
        padding: 0 5rem;
        width: unset;
    }
    .socials{
        justify-content: center;
    }
    .hero-wrapper .hero-wrapper__right {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 375px) {
    .hero-text-para-box {
        padding: 0;
    }
    .card-sm{
        top: 10rem;
    }
}

.my{
    margin-top: 20px;
    padding-left: 25vh;
}

.bi-arrow-right-circle{
    height: 30px;
    text-align: center;
}


.bi-arrow-left-circle{
    height: 30px;
}